
<h1>Welcome to your page: <%= @current_user.username.capitalize %></h1>
<div class="col-md-5 well" >
<%= image_tag @current_user.photo_url, class:"pic" %>
<%= link_to "Create a post", new_path(user_id: @current_user.id) %>
<% @posts.each do |post| %>
  <% if post.user_id == @current_user.id %>
  <ul>
    <li><%= post.tweet %> is created at <%= post.create_at %></li>
  </ul>
  <%end%>
<%end%>

<%= link_to 'All the user', public_path(user_id: @current_user.id) %>
</div>
<div class="col-md-5 col-md-offset-1 well">
<h4>People <%= @current_user.username.capitalize %> FOLLOWING</h4>


        <% @posts.each do |post| %>
          <% @relationships.each do |relationship| %>


              <% if post.user_id == relationship.friend_id %>
              <ul>
                <li>
                  <%= image_tag post.user.photo_url, class: "public-image" %>
                  <%= link_to relationship.friend.username, posts_show_path(id: relationship.friend.id) %>
                  <%= post.tweet %>
                  </li>
              </ul>
              <%end%>
          <%end%>
        <%end%>

  <%= paginate @posts %><br />
      </div>
