
<div class="top-page"></div>

  <div class="top-page"></div>
    <div class="col-md-2 well" >
      <%= render partial: "profile" %>
  </div>

<div class="col-md-7 well">
<h3>People <%= @current_user.username.capitalize %> FOLLOWING</h3>



        <% @posts.each do |post| %>

          <% if post.user_id == @current_user.id %>
            <ul>
              <li>
                <%= image_tag @current_user.photo_url, class: "public-image" %>
                <%= post.tweet %>
                <%= post.create_at %>
                <%= link_to "Delete", private_posts_path(post.id), method: :delete, data: {confirm: "Are you sure?"} %>

            </ul>
          <%end%>

          <% Relationship.all.each do |relationship| %>


              <% if post.user_id == relationship.friend_id%>
              <ul>
                <li>
                  <%= image_tag post.user.photo_url, class: "public-image" %>
                  <%= link_to relationship.friend.username, posts_show_path(id: relationship.friend.id) %>

                  <%= post.tweet %>
                  <%= post.create_at %>
                  </li>
              </ul>


              <%end%>
          <%end%>
        <%end%>

  <%= paginate @posts %><br />
      </div>

<div class="col-md-2 well game">
  <%= render partial: "game" %>
  </div>
