<div class="top-page"></div>

<div class="col-md-2 well" >

      <%= image_tag @current_user.photo_url, class:"pic" %>
      <h4 class="username"><%= @current_user.username %></h4>
      <%= link_to "Create a post", new_path(user_id: @current_user.id) %><br />


      <%= link_to 'All the user', public_path(user_id: @current_user.id) %>

</div>


<div class="col-md-7 well">
  <%= image_tag @user.photo_url, class:"pic" %>

  <% @posts.each do |post| %>
    <% if post.user_id == @user.id %>
    <ul>
      <li><%= post.tweet %> on <%= post.create_at  %></li>
    </ul>
    <%end%>
  <%end%>


  <% if !@current_user.friends.include? @user %>

    <%= button_to 'Follow', relationships_path(friend_id: @user.id) %>
  <%else %>
    <%= button_to 'UnFollow', relationships_path(user_id: @current_id, friend_id: @user.id), method: :delete %>
  <%end%>

  <%= link_to 'All the user', public_path(user_id: @current_user.id) %>

</div>


<div class="col-md-2 well game">

<h3>Game</h3><br />
<%= link_to "Talk to the web", talk_path %>
<%= link_to "Change Background ", change_background_color_path %>
<%= link_to "Funny Story", funny_path %><br>
<%= link_to "Jokes", jokes_path %>
</div>
