<!DOCTYPE html>
<html>
<head>
  <title>Cookies</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="nav">
  <span class='home'><%= link_to "Home", private_path %></span>

  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
  <% end %>

  <%= notice %>
</div>
<div class="container">
  <div class="row">
      <%= yield %>
  </div>
</div>
</body>
</html>
